http://www.johnpapa.net/typescriptpost4/
http://www.putlocker.com/file/4AB9A461C9E1DA75
https://github.com/openfl/openfl-html5-dom/blob/master/flash/events/Event.hx
http://www.watchseries.to/serie/the_lost_room
https://www.microlancer.com/

https://raw.github.com/mpmedia/coordy/master/src/com/somerandomdude/coordy/layouts/Layout.as

remove inline
Int=>number
Void=>void
Bool=>bool
remove function
remove (default,null)


0195086090 
1846283795 
3319013416 
0131873741 
1441955127, 1461425433
0470026286 
0133737624 
047074586X 
143024464X 
0123852412 
 0470210095, 0745802508 
0321687299 
1782160205 
1449373747 
1849695067 
1849691266 
1849694567 
1782160523 
0596155972 
0980455278 
1849685681 
1849695423 
193398838X 
http://avaxhome.ws/ebooks/programming_development/Making.Isometric.Games.html
http://avaxhome.ws/ebooks/programming_development/news_igor_3609.html
http://avaxhome.ws/ebooks/programming_development/general/web_development/1847191002Z.html
http://avaxhome.ws/ebooks/programming_development/1849696020.html
http://avaxhome.ws/ebooks/programming_development/html_css_js_javascript/0321683919z.html
http://www.wowebook.com/book/scripting-intelligence-web-3-0-information-gathering-and-processing/
http://www.wowebook.com/book/testable-javascript/
http://www.wowebook.com/book/secrets-of-the-javascript-ninja/
http://www.wowebook.com/book/third-party-javascript/
http://www.wowebook.com/book/building-the-realtime-user-experience/
http://www.wowebook.com/book/making-isometric-social-real-time-games-with-html5-css3-and-javascript/
http://www.wowebook.com/book/wicked-cool-ruby-scripts/
http://www.wowebook.com/book/pro-web-project-management/
http://www.wowebook.com/book/socket-io-real-time-web-application-development/
http://www.wowebook.com/book/socket-io-real-time-web-application-development/
http://www.wowebook.com/book/node-cookbook/
http://www.wowebook.com/book/the-ruby-programming-language/
http://www.wowebook.com/book/regular-expression-pocket-reference-2nd-edition/
http://www.wowebook.com/book/ruby-best-practices/
http://www.wowebook.com/book/practical-text-mining-with-perl/
http://www.wowebook.com/book/the-druby-book/
http://www.wowebook.com/book/text-processing-in-python/
http://www.wowebook.com/book/ruby-on-rails-tutorial-2nd-edition/
http://www.wowebook.com/book/python-2-6-text-processing-beginners-guide/